@font-face {
  font-family: 'Quick Sans light';
  src: url('../fonts/Quicksand-Light.ttf') format('truetype'),
    ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quick Sans medium';
    src: url('../fonts/Quicksand-Medium.ttf') format('truetype'),
       ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quick Sans bold';
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype'),
    ;
  font-weight: 700;
  font-style: normal;
}


