.warningCard {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.warningCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.warningCard i {
  font-size: 24px;
  color: red;
  margin-right: 15px;
}

.warningContent h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.warningContent p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* chỉnh modal */
.ant-modal .ant-modal-content {
  padding: 0 !important;
}

.ant-modal .ant-modal-header {
  height: 4em;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 0;
  background: #3e82f7;
}

.ant-modal .ant-modal-title {
  line-height: 2.5;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.ant-modal .ant-modal-close-x {
  color: #fff;
}

.ant-modal .ant-modal-body {
  padding: 20px 20px;
}
.ant-modal .ant-modal-footer {
  height: 4em;
  background: #f0f2f5;
  border-radius: 0 0 12px 12px;
  padding: 11px 20px;
}

.ant-modal .ant-modal-footer > button {
  padding: 2px 16px !important;
  font-size: 12px !important;
  height: 34px !important;
}