.mg5 {
  margin-bottom: 5px;
}

.mgButton10 {
  margin-bottom: 10px;
}

.mgright5 {
  margin-right: 5px;
}

.customCardShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Màu và độ mờ */
  border-radius: 8px;
  /* Tùy chỉnh bo góc */
}

.colorKetXuat {
  background-color: green;
}

.textLeft {
  display: block !important;
  text-align: start !important;
}

.marginBottom5 {
  margin-bottom: 5%;
}
.fieldsetWrapper {
  border: 1px solid #d9d9d9;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 24px;
}

.legend {
  position: absolute;
  top: -12px;
  left: 12px;
  background: white;
  padding: 0 8px;
  font-weight: 600;
  font-size: 16px;
  color: #595959;
}
