.mg5 {
  margin-bottom: 5px;
}

.mgButton10 {
  margin-bottom: 10px;
}

.mgright5 {
  margin-right: 5px;
}

.customCardShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Màu và độ mờ */
  border-radius: 8px;
  /* Tùy chỉnh bo góc */
}

.colorKetXuat {
  background-color: green;
}

.borderLess {
  border: none !important;
}

.borderLess:focus,
.borderLess:focus-within,
.borderLess.ant-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.objectContent {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  height: 100%;
}

.objectContent img {
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
}

.objectCover {
  width: 100%;
  margin-bottom: 10px;
}

.tableContent tr {
  text-align: center;
}

.tableContent thead {
  background-color: #c8e7f5;

  padding: 10px;
}

.fielsetCustom {
  border: 1px dashed #848484;
  border-radius: 5px;
  padding: 20px;
}

.fielsetCustom legend {
  width: max-content;
}



.divImg {
   width: 200px;
   height: 150px;
}
.divImg img {
   width: 100%;
   height: 100%;
  object-fit: contain;
}

.wFull {
  width: 100%;
}

.greenBtn {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: white !important;
}

.greenBtn:hover,
.greenBtn:focus {
  background-color: #389e0d !important;
  border-color: #389e0d !important;
}

